@charset "UTF-8";

@mixin joskoomen-grid-container-fluid() {
  
  $marginclass: $-jk-zero-breakpoint;
  $value: map_get($grid-default-outer-margin, $-jk-zero-breakpoint);
  $guttervalue: map_get($grid-default-gutter-width, $-jk-zero-breakpoint);
  
  @each $classname in $breakpoint-classes {
    @if map_has_key($grid-default-outer-margin, $classname) {
      $marginclass: $classname;
      $value: map_get($grid-default-outer-margin, $classname);
    }
    @if map_has_key($grid-default-gutter-width, $classname) {
      $guttervalue: grid-half-gutter-value(map_get($grid-default-gutter-width, $classname));
    }
    
    @if ($classname == $-jk-zero-breakpoint) {
      .#{$grid-class-container-fluid} {
        margin-right: auto;
        margin-left: auto;
      }
    }
    
    @include breakpoint($classname) {
      @each $margin in $grid-default-outer-margin {
        .#{$grid-class-container-fluid} {
          $paddingvalue: rem-calc($value) - rem-calc($guttervalue);
          @if (unitless-calc($paddingvalue) < 0) {
            $paddingvalue: 0;
          }
          padding-left: rem-calc($paddingvalue);
          padding-right: rem-calc($paddingvalue);
        }
      }
    }
  }
}