@charset "UTF-8";

@mixin joskoomen-grid-container-fluid() {
  
  @each $margin in $grid-default-outer-margin {
    $key: nth($margin, 1);
    $value: nth($margin, 2);
    
    @if ($key == $-jk-zero-breakpoint) {
      .#{$grid-class-container-fluid} {
        margin-right: auto;
        margin-left: auto;
        padding-left: rem-calc($value);
        padding-right: rem-calc($value);
      }
    } @else {
      
      @include breakpoint($key) {
        .#{$grid-class-container-fluid} {
          padding-left: $value;
          padding-right: $value;
        }
      }
    }
  }
}