@charset "UTF-8";

@mixin joskoomen-grid-columns-default() {
  
  @each $classname in $breakpoint-classes {
    $class: $classname;
    
    @include breakpoint($classname) {
      @if ($class == $classname) {
        .#{$classname}-#{$grid-class-column} {
          flex-grow: 1;
          flex-basis: 0;
          max-width: 100%;
        }
      }
    }
    
  }
}